/*!
 * Theme: Masterdom
 * Author: AMDmedia - Andrey Galkin
 * Version: 1.0
 */

/* IMPORT FONTS ============================ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Goldenbook';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OTF/Goldenbook.otf') format('opentype');
}

@font-face {
    font-family: 'Goldenbook';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OTF/Goldenbook-Bold.otf') format('opentype');
}

/* ROOT ============================ */

:root {
    --bs-primary: #02378f;
    --bs-secondary: #474a51;
    --theme-gray: #7C7D80;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 2,55,143;
    --bs-secondary-rgb: 71,74,81;
    --theme-gray-rgb: 124,125,128;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;

    --bs-body-font-family: 'Montserrat', sans-serif;
    --bs-title-font-family: 'Goldenbook', serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: normal;

    --bs-body-color: #1A1A16;
    --bs-body-color-rgb: 26,26,22;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255,255,255;

    --bs-link-color: #02378f;
    --bs-link-color-rgb: 2,55,143;
    --bs-link-hover-color: #1A1A16;
    --bs-link-hover-color-rgb: 26,26,22;

    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #DEE5ED;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;

    --swiper-theme-color: #9F9387;
}

html {
    scroll-behavior: smooth;
}

/* LINKS ============================ */

a {
    text-decoration: none;
}

/* FORMS ============================ */

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
    box-shadow: none !important;
}

textarea {
    overflow: auto;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-control,
.form-select {
    color: var(--bs-body-color);
    border-radius: 0;
}

.form-control:focus,
.form-select:focus {
    border-color: #000;
}

.form-select {
    background-image: url(../img/dropdown.svg);
    background-size: 13px 10px;
}

/* BUTTONS ============================ */

.btn {
    --bs-btn-padding-x: 2.5rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: normal;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-outline {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #B0C7DD;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-outline:hover {
    outline: 1px solid var(--bs-primary);
    outline-offset: 4px;
}

.btn-icon {
    --btn-icon-size: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    padding: 0 !important;
}

/* BASE ============================ */

.title {
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-family: var(--bs-title-font-family);
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;
}

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.z-1 {
    z-index: 1 !important;
}

.z-2 {
    z-index: 2 !important;
}

.z-3 {
    z-index: 3 !important;
}

.z-4 {
    z-index: 4 !important;
}

.z-5 {
    z-index: 5 !important;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #212121;
    --bs-nav-link-hover-color: #000;
    --bs-nav-link-disabled-color: #6c757d;
}

.nav-pills {
    --bs-nav-pills-border-radius: 2.25rem;
    --bs-nav-pills-link-active-color: #212121;
    --bs-nav-pills-link-active-bg: #D9D9D9;
}

.nav-pills .nav-link {
    font-size: 1.25rem;
}

.dropdown-toggle {
    display: inline-flex;
    align-items: center;
}

.dropdown-toggle::after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 6px;
    vertical-align: inherit;
    border: none !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='8' viewBox='0 0 13 8' fill='none'%3E%3Cpath d='M1 0.944946L6.00196 6.82765C6.06052 6.89958 6.13086 6.95681 6.20874 6.99591C6.28661 7.03502 6.37041 7.05518 6.4551 7.05518C6.53976 7.05518 6.62358 7.03502 6.70145 6.99591C6.77932 6.95681 6.84966 6.89958 6.90823 6.82765L11.9102 0.944946' stroke='%231A1A16' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s ease;
}

.dropdown-toggle.show::after {
    transform: rotate(180deg);
}

.dropdown-menu {
    --bs-dropdown-border-radius: 0;
}

.scrollable-container {
    position: relative;
    overflow: hidden;
    touch-action: pan-y;
}

.scrollable-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
}

.scrollable-wrapper::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.scrollable-wrapper::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.scrollable-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
}

.scrollbar-none::-webkit-scrollbar {
    display: none !important;
}

.scrollable-wrapper .scrollable-item {
    position: relative;
    display: inline-block;
    flex: 0 0 auto;
}

@media (min-width: 992px) {

    .title {
        font-size: 32px;
    }
}

@media (min-width: 1400px) {

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1504px;
    }
}

/* HEADER ============================ */

.header {
    height: 100px;
    margin-bottom: 22px;
}

/* Мобильное меню */

.navbar-mobile {}

.navbar.navbar-mobile {
    --bs-navbar-padding-y: 10px;
}

.navbar-mobile__navigation {
    display: flex;
    align-items: center;
    gap: 22px;
}

.navbar-mobile__logo img {
    max-width: 56px;
    height: auto;
}

.navbar-mobile__offcanvas-toggle {}

.navbar-mobile__right-block {}

.navbar-mobile__icons {
    display: flex;
    gap: 22px;
}

.navbar-mobile__icon {
    position: relative;
}

@media (min-width: 992px) {

    .navbar-mobile {
        display: none;
    }
}

/* Десктопное меню */

.navbar-desktop {
    display: none;
    height: 100px;
}

.navbar.navbar-desktop {
    --bs-navbar-padding-y: 16px;
    --bs-navbar-active-color: var(--bs-primary);
}

.navbar-desktop__logo {
    flex-shrink: 0;
    margin-right: 40px;
}

.navbar-desktop__logo img {
    max-width: 56px;
    height: auto;
}

.navbar-desktop__middle {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.navbar-desktop__navigation {
    flex: 0 0 70%;
    display: flex;
    align-items: center;
}

.navbar-desktop__menu-wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
}

.navbar-desktop__offcanvas-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.navbar-desktop__offcanvas-toggle:not(.collapsed) .icon-burger,
.navbar-desktop__offcanvas-toggle.collapsed .icon-close {
    display: none;
}

.navbar-desktop .navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-size: 18px;
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-color: var(--bs-body-color);
    --bs-nav-link-hover-color: var(--bs-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.navbar-desktop .navbar-nav > li > .nav-link span {
    position: relative;
}

.navbar-desktop .navbar-nav > li > .nav-link span::after {
    content: "";
    width: 0;
    position: absolute;
    border-bottom: 1px solid var(--bs-primary);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .6s;
    transition-timing-function: cubic-bezier(.6,0,.4,1);
}
.navbar-desktop .navbar-nav > li > .nav-link:hover span::after,
.navbar-desktop .navbar-nav > li > .nav-link.show span::after,
.navbar-desktop .navbar-nav > li > .nav-link.active span::after {
    width: 100%;
}

.navbar-desktop .navbar-nav .has-mega-menu {
    position: static;
}

.navbar-desktop .navbar-nav .dropdown-menu {
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0;
    --bs-dropdown-spacer: 32px;
    position: absolute;
}

.navbar-desktop .navbar-nav .mega-menu {
    width: 100%;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
}

.navbar-desktop .mega-menu .nav-wrapper {
    padding: 22px 0;
}

.navbar-desktop .mega-menu .nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-radius: 0;
    --bs-nav-tabs-link-active-color: var(--bs-body-color);
    --bs-nav-tabs-link-active-bg: #DEE5ED;
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    --bs-navbar-active-color: var(--bs-body-color);
}

.navbar-desktop .mega-menu .nav-tabs .nav-link.active {
    font-weight: 500;
}

.navbar-desktop .mega-menu .content-wrapper {
    padding: 31px 24px;
}

.navbar-desktop .mega-menu__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.navbar-desktop .mega-menu__widget-title {
    color: #1A1A16;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 6px;
}

.navbar-desktop .mega-menu__widget-menu {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 0;
}

.navbar-desktop__search {
    flex: 0 0 30%;
}

.navbar-desktop__search .form-search {
    position: relative;
    width: 219px;
    margin: 0 auto;
    transition: 0.3s ease;
}

.navbar-desktop__search .form-search:focus-within {
    width: 292px;
}

.navbar-desktop__search .form-search .form-control {
    --bs-border-color: var(--theme-gray);
    border-top-width: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    padding-right: 47px;
    padding-bottom: 2px;
    font-size: 16px;
}

.navbar-desktop__search .form-search .form-control:focus {
    border-color: var(--bs-primary);
}

.navbar-desktop__search .form-search .form-control:focus::placeholder {
    color: transparent;
}

.navbar-desktop__search .form-search__btn {
    position: absolute;
    top: 50%;
    right: 12px;
    padding: 0;
    transform: translateY(-50%);
    border: none;
}

.navbar-desktop__phone {
    --bs-link-color-rgb: var(--bs-primary-rgb);
    --bs-link-hover-color-rgb: var(--bs-body-color-rgb);
    text-align: end;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
}

.navbar-desktop__icons {
    display: flex;
    gap: 22px;
}

.navbar-desktop__icon {
    position: relative;
}

.navbar-desktop__icon .notification-count {
    position: absolute;
    top: 0;
    right: -7px;
    color: var(--bs-body-color);
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    height: 15px;
    min-width: 15px;
    padding: 0 2px;
    border-radius: 50px;
    background-color: #DEE5ED;
}

.navbar-desktop__icon.icon-profile .notification-count {
    top: auto;
    bottom: -2px;
}

/* Выпадающее окно на десктопе */

.overlay-menu {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.overlay-menu__row {
    display: flex;
    justify-content: center;
}

.overlay-menu__col {
    flex: 1 1 100%;
    padding: 22px 22px;
    border-left: 1px solid #DEE5ED;
}

.overlay-menu__col:last-child {
    padding: 22px 0;
    border: none;
}

.overlay-menu__menu {
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    list-style: none;
    margin: 0;
    padding: 0;
}

.overlay-menu__menu > li {
    margin-bottom: 31px;
}

.overlay-menu__menu > li > a {
    display: block;
    font-family: var(--bs-title-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.overlay-menu__menu .submenu {
    --bs-link-color-rgb: var(--theme-gray-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 12px;
}

.overlay-menu__menu .submenu li:not(:last-child) {
    margin-bottom: 12px !important;
}

.overlay-menu__menu .submenu a {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.overlay-menu__blog-item .blog-item-img {
    height: 470px;
    overflow: hidden;
}

.overlay-menu__blog-item .blog-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;
}

.overlay-menu__blog-item .blog-item-img:hover img {
    transform: scale(1.1);
}

.overlay-menu__blog-item .blog-item-body {
    padding: 18px 0;
}

.overlay-menu__blog-item .blog-item-title {
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.24px;
    margin-bottom: 18px;
}

.overlay-menu__blog-item .blog-item-tags {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: flex;
    gap: 5px;
    color: var(--bs-secondary);
    font-family: var(--bs-title-font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    margin-bottom: 18px;
}

.overlay-menu__blog-item .item-tag {
    display: flex;
    align-items: center;
    gap: 6px;
}

.overlay-menu__blog-item .item-tag + .item-tag::before {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--bs-secondary);
}

.overlay-menu__blog-item .blog-item-read-link {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

@media (min-width: 992px) {

    .navbar-desktop {
        display: block;
    }
}

/* FOOTER ============================ */

.footer {
    padding: 22px 0;
}

@media (min-width: 992px) {
    .footer {
        padding: 42px 0;
    }
}

/* footer-top */

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    padding: 0 12px;
    margin-bottom: 34px;
}

.footer-top__logo img {
    max-width: 83px;
    height: auto;
}

.footer-top__contacts {
    --bs-link-color-rgb: var(--bs-primary-rgb);
    --bs-link-hover-color-rgb: var(--bs-body-color-rgb);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.footer-top__contacts .contacts-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.footer-top__contacts .contacts-link::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--bs-secondary);
}

.footer-top__contacts .link-cooperate {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.footer-top__contacts .link-cooperate svg {
    flex-shrink: 0;
}

@media (min-width: 992px) {

    .footer-top__contacts .contacts-link:first-child:before {
        display: none;
    }
}

/* footer-middle */

.footer-middle {
    max-width: 1244px;
    margin: 0 auto;
}

.footer-middle__container {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ACB2BF;
    border-bottom: 1px solid #ACB2BF;
    padding: 32px 0;
}

.footer-middle__col {
    flex: 1 0 100%;
    min-width: 1px;
    padding: 14px 21px;
}

.footer-middle__col:nth-child(1),
.footer-middle__col:nth-child(2) {
    flex-basis: 50%;
}

.footer-middle__widget:not(:last-child) {
    margin-bottom: 22px;
}

.footer-middle__menu {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-middle__menu > li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-middle__menu > li > a {
    display: block;
    font-family: var(--bs-title-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.22px;
    text-transform: uppercase;
}

.footer-middle__menu .submenu {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.footer-middle__menu .submenu li:not(:last-child) {
    margin-bottom: 6px !important;
}

.footer-middle__menu .submenu a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}

@media (min-width: 992px) {

    .footer-middle__container {
        padding: 16px 0;
    }

    .footer-middle__col {
        flex-basis: 30%;
    }
    
    .footer-middle__col:nth-child(1),
    .footer-middle__col:nth-child(2) {
        flex-basis: 20%;
    }

    .footer-middle__col + .footer-middle__col {
        border-left: 1px solid #ACB2BF;
    }

    .footer-middle__widget:not(:last-child) {
        margin-bottom: 32px;
    }

    .footer-middle__menu > li > a {
        font-size: 24px;
    }

    .footer-middle__menu .submenu {
        margin-top: 12px;
    }

    .footer-middle__menu .submenu a {
        font-size: 18px;
    }
}

/* footer-bottom */

.footer-bottom {
    max-width: 1504px;
    margin: 22px auto 0;
    padding: 0 12px;
}

.footer-bottom__wrap {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer-bottom__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 22px;
}

.footer-bottom__menu {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 22px 12px;
}

.footer-bottom__menu .menu-link {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.footer-bottom__menu .menu-link::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--bs-secondary);
}

.footer-bottom__copyright {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    color: var(--bs-secondary);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.footer-bottom__copyright a {
    text-decoration: underline;
}

@media (min-width: 992px) {

    .footer-bottom {
        margin-top: 57px;
    }

    .footer-bottom__wrap {
        gap: 42px;
    }

    .footer-bottom__menu .menu-link:first-child:before {
        display: none;
    }

    .footer-bottom__menu .menu-link {
        font-size: 18px;
    }

    .footer-bottom__copyright {
        font-size: 16px;
    }
}

/* section-hero ============================ */

.section-hero {
    margin-bottom: 32px;
}

.section-hero__row {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 22px;
}

.section-hero__col {
    flex: 1 1 100%;
    min-width: 1px;
}

.swiperHeroSlider {
    height: 100%;
}

.swiperHeroSlider-next,
.swiperHeroSlider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiperHeroSlider-next {
    right: 52px;
    left: auto;
}

.swiperHeroSlider-prev {
    left: 52px;
    right: auto;
}

.swiperHeroSlider-pagination {
    --swiper-pagination-bottom: -20px;
    --swiper-pagination-bullet-width: 50px;
    --swiper-pagination-bullet-height: 2px;
    --swiper-pagination-bullet-border-radius: 0;
    position: absolute;
    text-align: center;
}

.swiperHeroSlider .hero-slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-category {
    position: relative;
    height: 100%;
}

.hero-category__img {
    height: 100%;
    overflow: hidden;
}

.hero-category__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;
}

.hero-category__text {
    position: absolute;
    bottom: 61px;
    left: 25px;
}

.hero-category__title {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.264px;
    margin-bottom: 9px;
}

.hero-category__link {
    --bs-link-color-rgb: var(--bs-white-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.149px;
}

@media (min-width: 992px) {

    .section-hero__row {
        flex-wrap: nowrap;
    }

    .section-hero__col:nth-child(1) {
        flex-basis: 70%;
    }
    
    .section-hero__col:nth-child(2) {
        flex-basis: 30%;
    }

    .swiperHeroSlider-next,
    .swiperHeroSlider-prev {
        display: flex;
    }

    .hero-category:hover img {
        transform: scale(1.1);
    }

    .hero-category__text {
        bottom: 74px;
        left: 30px;
    }

    .hero-category__title {
        font-size: 32px;
        letter-spacing: 0.32px;
    }

    .hero-category__link {
        font-size: 18px;
        letter-spacing: 0.18px;
    }
}

/* section-categories-circles ============================ */

.section-categories-circles {
    overflow: hidden;
    margin-bottom: 52px;
}

.section-categories-circles .title {
    text-align: center;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 32px;
}

.swiperCategoriesCircles-container {
    position: relative;
    max-width: 1038px;
    margin: 0 auto;
}

.swiperCategoriesCircles-next,
.swiperCategoriesCircles-prev {
    position: absolute;
    top: 35%;
    transform: translateY(0);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiperCategoriesCircles-next {
    right: -54px;
    left: auto;
}

.swiperCategoriesCircles-prev {
    left: -54px;
    right: auto;
}

.swiperCategoriesCircles .swiper-slide {
    width: 143px;
}

.section-categories-circles .swiper-button-disabled {
    opacity: 0;
}

.categories-circles__item {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.categories-circles__img {
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--bs-primary);
}

.categories-circles__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.categories-circles__title {
    text-align: center;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
}

@media (min-width: 992px) {

    .swiperCategoriesCircles-next,
    .swiperCategoriesCircles-prev {
        display: flex;
    }

    .swiperCategoriesCircles .swiper-slide {
        width: 182px;
    }
}

/* section-popular-products ============================ */

.section-popular-products {
    margin-bottom: 82px;
}

.section-popular-products .title {
    text-align: center;
    margin-bottom: 32px;
}

.popular-products-tab-nav {
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    display: flex;
    justify-content: start;
    margin-bottom: 34px;
}

.popular-products-tab-nav .scrollable-wrapper {
    padding-bottom: 12px;
}

.popular-products-tab-nav .scrollable-item {
    padding: 0 6px;
}

.popular-products-tab-nav .scrollable-item:first-child {
    padding-left: 12px;
}

.popular-products-tab-nav .scrollable-item:last-child {
    padding-right: 12px;
}

.popular-products-tab-nav .nav-link {
    padding: 2px 0px;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    border-radius: 0;
    border-bottom: 1px solid transparent;
}

.popular-products-tab-nav .nav-link.active {
    color: var(--bs-primary);
    background-color: transparent;
}

.popular-products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 47px 34px;
}

.section-popular-products__link {
    text-align: center;
    margin-top: 32px;
}

.section-popular-products__link .btn {
    --bs-btn-font-size: 18px;
    --bs-btn-font-weight: 500;
    max-width: 352px;
    width: 100%;
    text-transform: lowercase;
}

@media (min-width: 992px) {

    .popular-products-tab-nav {
        justify-content: center;
    }

    .popular-products-tab-nav .nav-link.active {
        border-color: inherit;
    }

    .section-popular-products__link {
        margin-top: 52px;
    }
}

/* product-item ============================ */

.product-item {
    position: relative;
}

.product-item__top {
    position: relative;
}

.product-item__img {
    position: relative;
}

.product-item__img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-item__img img:nth-child(1) {
    display: block;
}

.product-item__img img:nth-child(2) {
    display: none;
}

.product-item__img:after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
}

.product-item__markers {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.product-item__markers .marker-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    font-family: var(--bs-title-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    background-color: #fff;
}

.product-item__body {
    padding: 12px 18px 0;
}

.product-item__title {
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    text-align: center;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.24px;
}

.product-item__price {
    text-align: center;
    color: var(--bs-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-top: 12px;
}

.product-item__price .discount {
    display: inline-block;
    margin-left: 8px;
    color: #888;
    font-size: 14px;
    font-weight: 400;
}

.product-item.product-cat-wallpaper .skuProperty {
    margin-top: 12px;
}

.skuProperty .skuPropertyList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

.skuProperty .skuPropertyValue {
    overflow: hidden;
}

.skuProperty .skuPropertyLink {
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    border: 1px solid #ddd;
    transition: all .2s ease-in-out;
}

.skuProperty .skuPropertyValue.selected .skuPropertyLink {
    border: 1px solid var(--bs-primary);
    pointer-events: none;
    position: relative;
}

.skuProperty .skuPropertyLink img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 992px) {

    .section-popular-products .nav-pills {
        padding: 0;
        gap: 32px;
    }
    .popular-products-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product-item__img:hover img:first-child {
        display: none;
    }
    
    .product-item__img:hover img:last-child {
        display: block;
    }

    .skuProperty .skuPropertyLink img {
        width: 55px;
        height: 55px;
    }
}

/* section-shops-location ============================ */

.section-shops-location {
    margin-bottom: 42px;
}

.section-shops-location__link {
    --bs-link-color-rgb: var(--theme-gray-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.swiperShopsLocation .swiper-slide {
    height: auto;
}

.swiperShopsLocation-next,
.swiperShopsLocation-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiperShopsLocation-next {
    right: 119px;
    left: auto;
}

.swiperShopsLocation-prev {
    left: 119px;
    right: auto;
}

.shop-location__item {
    height: 100%;
}

.shop-location__row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.shop-location__col {
    flex: 0 0 100%;
}

.shop-location__img {
    height: 100%;
}

.shop-location__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shop-location__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 62px;
    height: 100%;
    padding: 22px 22px 32px;
    background-color: #F8F8F8;
}

.shop-location__body-top {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.shop-location__title {
    color: var(--bs-body-color);
    font-family: var(--bs-title-font-family);
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}

.shop-location__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    color: var(--bs-secondary);
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.24px;
}

.shop-location__tags .item-tag {
    display: flex;
    align-items: center;
    gap: 6px;
}

.shop-location__tags .item-tag + .item-tag::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--bs-secondary);
}

.shop-location__body-bottom-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shop-location__hours {
    color: var(--bs-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.shop-location__address {
    color: var(--bs-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.shop-location__metro {
    display: flex;
    flex-wrap: wrap;
    gap: 11px 8px;
    color: var(--bs-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.shop-location__metro .item-metro {
    display: flex;
    align-items: center;
    gap: 8px;
}

.item-metro::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='17' viewBox='0 0 24 17' fill='none'%3E%3Cpath d='M22.3419 14.1803L16.7219 0L11.983 8.2907L7.24417 0L1.62416 14.1848H0V16.3164H8.46286V14.1848H7.2102L8.42888 10.6624L11.983 16.484L15.5371 10.6624L16.7558 14.1848H15.5032V16.3164H24V14.1848L22.3419 14.1803Z' fill='%23FF0000'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.shop-location__phone {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.shop-location__link {
    margin-top: 32px;
}

@media (min-width: 992px) {

    .section-shops-location__link {
        margin-bottom: 22px;
    }

    .swiperShopsLocation-next,
    .swiperShopsLocation-prev {
        display: flex;
    }

    .shop-location__col:nth-child(1) {
        flex: 0 0 65%;
    }

    .shop-location__col:nth-child(2) {
        order: -1;
        flex: 0 0 35%;
    }

    .shop-location__body {
        padding: 57px 32px 53px;
        gap: 120px;
    }
}

/* section-blog-slider ============================ */

.section-blog-slider {
    margin-bottom: 94px;
}

.section-blog-slider .title {
    text-align: center;
    margin-bottom: 32px;
}

.blog-slider-tab-nav {
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    display: flex;
    justify-content: start;
    margin-bottom: 32px;
}

.blog-slider-tab-nav .scrollable-wrapper {
    padding-bottom: 12px;
}

.blog-slider-tab-nav .scrollable-item {
    padding: 0 11px;
}

.blog-slider-tab-nav .scrollable-item:first-child {
    padding-left: 12px;
}

.blog-slider-tab-nav .scrollable-item:last-child {
    padding-right: 12px;
}

.blog-slider-tab-nav .nav-link {
    padding: 2px 0px;
    font-family: var(--bs-title-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    border-radius: 0;
    border-bottom: 1px solid transparent;
}

.swiperBlogSlider-next,
.swiperBlogSlider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiperBlogSlider-next {
    right: 119px;
    left: auto;
}

.swiperBlogSlider .swiper-slide {
    width: 305px;
}

.swiperBlogSlider-prev {
    left: 119px;
    right: auto;
}

.blog-slide-item__img {
    height: 318px;
    overflow: hidden;
}

.blog-slide-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;
}

.blog-slide-item__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0 0;
}

.blog-slide-item__tags {
    --bs-link-color-rgb: var(--theme-gray-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.blog-slide-item__title {
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.24px;
}

.blog-slide-item__read-link {
    --bs-link-color-rgb: var(--bs-primary-rgb);
    --bs-link-hover-color-rgb: var(--bs-body-color-rgb);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

@media (min-width: 992px) {

    .section-blog-slider {
        margin-bottom: 82px;
    }

    .blog-slider-tab-nav {
        justify-content: center;
    }

    .swiperBlogSlider-next,
    .swiperBlogSlider-prev {
        display: flex;
    }

    .swiperBlogSlider .swiper-slide {
        width: 345px;
    }

    .blog-slide-item__img {
        height: 360px;
    }

    .blog-slide-item__img:hover img {
        transform: scale(1.1);
    }
}