/*!
 * Theme: Masterdom
 * Author: AMDmedia - Andrey Galkin
 * Version: 1.0
 */

/* IMPORT FONTS ============================ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Goldenbook';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OTF/Goldenbook.otf') format('opentype');
}

@font-face {
    font-family: 'Goldenbook';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OTF/Goldenbook-Bold.otf') format('opentype');
}

/* @import url('../fonts/icons-minimal/stylesheet.css'); */

/* ROOT ============================ */

:root {
    --bs-primary: #02378f;
    --bs-secondary: #474a51;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 2,55,143;
    --bs-secondary-rgb: 71,74,81;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;

    --bs-body-font-family: 'Montserrat', sans-serif;
    --bs-title-font-family: 'Goldenbook', serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: normal;

    --bs-body-color: #1A1A16;
    --bs-body-color-rgb: 18,14,30;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255,255,255;

    --bs-link-color: #02378f;
    --bs-link-color-rgb: 2,55,143;
    --bs-link-hover-color: #1A1A16;
    --bs-link-hover-color-rgb: 18,14,30;

    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #DEE5ED;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;

    --swiper-theme-color: #9F9387;
}

html {
    scroll-behavior: smooth;
}

/* LINKS ============================ */

a {
    text-decoration: none;
}

/* FORMS ============================ */

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
    box-shadow: none !important;
}

textarea {
    overflow: auto;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-control,
.form-select {
    font-size: 1.125rem;
    color: #495057;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select {
    background-image: url(../img/dropdown.svg);
    background-size: 13px 10px;
}

/* BUTTONS ============================ */

.btn {
    --bs-btn-padding-x: 2.5rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: normal;
    --bs-btn-color: #212121;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-icon {
    --btn-icon-size: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    padding: 0 !important;
}

/* BASE ============================ */

.section {}

.section-title {
    color: var(--bs-body-color);
    font-family: var(--bs-title-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;
}

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.z-1 {
    z-index: 1 !important;
}

.z-2 {
    z-index: 2 !important;
}

.z-3 {
    z-index: 3 !important;
}

.z-4 {
    z-index: 4 !important;
}

.z-5 {
    z-index: 5 !important;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #212121;
    --bs-nav-link-hover-color: #000;
    --bs-nav-link-disabled-color: #6c757d;
}

.nav-pills {
    --bs-nav-pills-border-radius: 2.25rem;
    --bs-nav-pills-link-active-color: #212121;
    --bs-nav-pills-link-active-bg: #D9D9D9;
}

.nav-pills .nav-link {
    font-size: 1.25rem;
}

.dropdown-menu {
    --bs-dropdown-border-radius: 0;
}

.scrollable-container {
    position: relative;
    overflow: hidden;
    touch-action: pan-y;
}

.scrollable-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
}

.scrollable-wrapper::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.scrollable-wrapper::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.scrollable-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
}

.scrollbar-none::-webkit-scrollbar {
    display: none !important;
}

.scrollable-wrapper .scrollable-item {
    position: relative;
    display: inline-block;
    flex: 0 0 auto;
}

@media (min-width: 1400px) {

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1504px;
    }
}

/* HEADER ============================ */

.navbar {
    --bs-navbar-padding-y: 10px;
}

.navbar-desktop .navbar-nav {
    display: none;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 22px;
}

.header-navigation__logo img {
    max-width: 56px;
    height: auto;
}

.navbar-nav {
    align-items: center;
    gap: 22px;
}

.search-form {
    display: none;
}

.form-search {
    position: relative;
}

.header-phone {
    --bs-link-color-rgb: var(--bs-primary-rgb);
    --bs-link-hover-color-rgb: var(--bs-body-color-rgb);
    display: none;
    text-align: end;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
}

.header-icons {
    display: flex;
    gap: 22px;
}

.header-icons__location {
    display: none;
}

.header-icons__whishlist {
    display: none;
}

.header-navigation__menu-wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
}

.navbar-nav .nav-link {
    padding: 0 !important;
}

@media (min-width: 992px) {

    .navbar-desktop .navbar-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-desktop .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .header-navigation {
        gap: 40px;
    }

    .search-form {
        display: block;
    }

    .header-phone {
        display: block;
    }

    .header-icons__search {
        display: none;
    }

    .header-icons__location {
        display: block;
    }

    .header-icons__phone {
        display: none;
    }
    
    .header-icons__whishlist {
        display: block;
    }
}

@media (min-width: 1200px) {

    .dropdown-fullwidth .dropdown-menu {
        --bs-dropdown-min-width: 1150px;
    }
}

/* FOOTER ============================ */

.footer {
    padding: 22px 0;
}

@media (min-width: 992px) {
    .footer {
        padding: 42px 0;
    }
}

/* footer-top */

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    padding: 0 12px;
    margin-bottom: 34px;
}

.footer-top__logo img {
    max-width: 83px;
    height: auto;
}

.footer-top__contacts {
    --bs-link-color-rgb: var(--bs-primary-rgb);
    --bs-link-hover-color-rgb: var(--bs-body-color-rgb);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.footer-top__contacts .contacts-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.footer-top__contacts .contacts-link::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--bs-secondary);
}

.footer-top__contacts .link-cooperate {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.footer-top__contacts .link-cooperate svg {
    flex-shrink: 0;
}

@media (min-width: 992px) {

    .footer-top__contacts .contacts-link:first-child:before {
        display: none;
    }
}

/* footer-middle */

.footer-middle {
    max-width: 1244px;
    margin: 0 auto;
}

.footer-middle__container {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ACB2BF;
    border-bottom: 1px solid #ACB2BF;
    padding: 32px 0;
}

.footer-middle__col {
    flex: 1 0 100%;
    padding: 14px 21px;
}

.footer-middle__col:nth-child(1),
.footer-middle__col:nth-child(2) {
    flex-basis: 50%;
}

.footer-middle__widget {
    margin-bottom: 22px;
}

.footer-middle__widget:last-child {
    margin-bottom: 0 !important;
}

.footer-middle__menu {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-middle__menu .menu-link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
    margin-bottom: 6px;
}

.footer-middle__menu li:last-child .menu-link {
    margin-bottom: 0 !important;
}

.footer-middle__menu .menu-link.title {
    font-family: var(--bs-title-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media (min-width: 992px) {

    .footer-middle__container {
        padding: 16px 0;
    }

    .footer-middle__col {
        flex: 1 0 30%;
    }
    
    .footer-middle__col:nth-child(1),
    .footer-middle__col:nth-child(2) {
        flex-basis: 20%;
    }

    .footer-middle__col + .footer-middle__col {
        border-left: 1px solid #ACB2BF;
    }

    .footer-middle__widget {
        margin-bottom: 32px;
    }

    .footer-middle__menu .menu-link.title {
        font-size: 24px;
    }

    .footer-middle__menu .menu-link {
        font-size: 18px;
    }
}

/* footer-bottom */

.footer-bottom {
    max-width: 1504px;
    margin: 22px auto 0;
    padding: 0 12px;
}

.footer-bottom__wrap {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer-bottom__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 22px;
}

.footer-bottom__menu {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 22px 12px;
}

.footer-bottom__menu .menu-link {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.footer-bottom__menu .menu-link::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--bs-secondary);
}

.footer-bottom__copyright {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    color: var(--bs-secondary);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.footer-bottom__copyright a {
    text-decoration: underline;
}

@media (min-width: 992px) {

    .footer-bottom {
        margin-top: 57px;
    }

    .footer-bottom__wrap {
        gap: 42px;
    }

    .footer-bottom__menu .menu-link:first-child:before {
        display: none;
    }

    .footer-bottom__menu .menu-link {
        font-size: 18px;
    }

    .footer-bottom__copyright {
        font-size: 16px;
    }
}













/* section-hero ============================ */

.section-hero {
    margin-top: 12px;
    margin-bottom: 32px;
}

.swiperHeroSlider-container {
    position: relative;
    height: 100%;
}

.swiperHeroSlider {
    height: 100%;
}

.swiperHeroSlider .hero-slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiperHeroSlider-next,
.swiperHeroSlider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiperHeroSlider-next {
    right: 52px;
    left: auto;
}

.swiperHeroSlider-prev {
    left: 52px;
    right: auto;
}

.swiperHeroSlider ~ .swiper-pagination {
    
}

.swiperHeroSlider ~ .swiper-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    opacity: 0.2;
    background: var(--swiper-theme-color);
}

.swiperHeroSlider ~ .swiper-pagination .swiper-pagination-bullet-active {
    border-color: var(--swiper-theme-color);
    opacity: 1;
    background: transparent;
}

.hero-category {
    position: relative;
}

.hero-category__img {
    overflow: hidden;
}

.hero-category__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;

}

.hero-category__text {
    position: absolute;
    bottom: 61px;
    left: 25px;
}

.hero-category__title {
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.264px;
    margin-bottom: 9px;
}

.hero-category__link {
    --bs-link-color-rgb: var(--bs-white-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.149px;
}

@media (min-width: 992px) {

    .swiperHeroSlider {
        --swiper-pagination-bullet-width: 50px;
        --swiper-pagination-bullet-height: 2px;
        --swiper-pagination-bullet-border-radius: 0;
    }

    .swiperHeroSlider-next,
    .swiperHeroSlider-prev {
        display: flex;
    }

    .swiperHeroSlider ~ .swiper-pagination {
        bottom: -20px;
    }

    .hero-category__img:hover img {
        transform: scale(1.1);
    }

    .hero-category__text {
        bottom: 74px;
        left: 30px;
    }
}















/* section-categories-circles ============================ */

.section-categories-circles {
    overflow: hidden;
    margin-bottom: 52px;
}

.section-categories-circles .section-title {
    text-align: center;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 32px;
}

.swiperCategoriesCircles-container {
    position: relative;
    max-width: 1038px;
    margin: 0 auto;
}

.swiperCategoriesCircles .swiper-slide {
    width: 143px;
}

.swiperCategoriesCircles-next,
.swiperCategoriesCircles-prev {
    position: absolute;
    top: 35%;
    transform: translateY(0);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiperCategoriesCircles-next {
    right: -54px;
    left: auto;
}

.swiperCategoriesCircles-prev {
    left: -54px;
    right: auto;
}

.section-categories-circles .swiper-button-disabled {
    opacity: 0;
}

.categories-circles__item {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.categories-circles__img {
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--bs-primary);
}

.categories-circles__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.categories-circles__title {
    text-align: center;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
}

@media (min-width: 992px) {

    .swiperCategoriesCircles .swiper-slide {
        width: 182px;
    }

    .swiperCategoriesCircles-next,
    .swiperCategoriesCircles-prev {
        display: flex;
    }
}












/* section-popular-products ============================ */

.section-popular-products {
    margin-bottom: 82px;
}

.section-popular-products .section-title {
    text-align: center;
    margin-bottom: 32px;
}

.popular-products-tab-nav {
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    display: flex;
    justify-content: start;
    margin-bottom: 34px;
}

.popular-products-tab-nav .scrollable-wrapper {
    padding-bottom: 12px;
}

.popular-products-tab-nav .scrollable-item {
    padding: 0 6px;
}

.popular-products-tab-nav .scrollable-item:first-child {
    padding-left: 12px;
}

.popular-products-tab-nav .scrollable-item:last-child {
    padding-right: 12px;
}

.popular-products-tab-nav .nav-link {
    padding: 2px 0px;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    border-radius: 0;
    border-bottom: 1px solid transparent;
}

.popular-products-tab-nav .nav-link.active {
    color: var(--bs-primary);
    background-color: transparent;
}

.popular-products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 47px 34px;
}

@media (min-width: 992px) {

    .popular-products-tab-nav {
        justify-content: center;
    }

    .popular-products-tab-nav .nav-link.active {
        border-color: inherit;
    }
}

/* product-item ============================ */

.product-item {
    position: relative;
}

.product-item__top {
    position: relative;
}

.product-item__img {
    position: relative;
}

.product-item__img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-item__img img:nth-child(1) {
    display: block;
}

.product-item__img img:nth-child(2) {
    display: none;
}

.product-item__img:after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
}

.product-item__markers {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.product-item__markers .marker-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    font-family: var(--bs-title-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    background-color: #fff;
}

.product-item__body {
    padding: 12px 18px 0;
}

.product-item__title {
    --bs-link-color-rgb: 26,26,22;
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    text-align: center;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.24px;
}

.product-item__price {
    text-align: center;
    color: var(--bs-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-top: 12px;
}

.product-item__price .discount {
    display: inline-block;
    margin-left: 8px;
    color: #888;
    font-size: 14px;
    font-weight: 400;
}

.product-wallpaper .skuProperty {
    margin-top: 12px;
}

.product-wallpaper .skuPropertyList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

.product-wallpaper .skuProperty li {
    overflow: hidden;
}

.product-wallpaper .skuPropertyLink {
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    border: 1px solid #ddd;
    transition: all .2s ease-in-out;
}

.product-wallpaper .skuProperty .selected .skuPropertyLink {
    border: 1px solid var(--bs-primary);
    pointer-events: none;
    position: relative;
}

.product-wallpaper .skuPropertyList img {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

@media (min-width: 992px) {

    .section-popular-products .nav-pills {
        padding: 0;
        gap: 32px;
    }
    .popular-products-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product-item__img:hover img:first-child {
        display: none;
    }
    
    .product-item__img:hover img:last-child {
        display: block;
    }
}













/* section-shops-location ============================ */

.section-shops-location {
    margin-bottom: 42px;
}

.section-shops-location__link {
    --bs-link-color-rgb: 124,125,128;
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.swiperShopsLocation .swiper-slide {
    height: auto;
}

.shop-location__item {}

.shop-location__img {
    height: 100%;
}

.shop-location__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shop-location__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 22px 22px 32px;
    background-color: #F8F8F8;
}

.shop-location__body-top {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 62px;
}

.shop-location__title {
    color: var(--bs-body-color);
    font-family: var(--bs-title-font-family);
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}

.shop-location__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    color: var(--bs-secondary);
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.24px;
}

.shop-location__tags .item-tag {
    display: flex;
    align-items: center;
    gap: 6px;
}

.shop-location__tags .item-tag::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--bs-secondary);
}

.shop-location__body-bottom-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shop-location__hours {
    color: var(--bs-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.shop-location__address {
    color: var(--bs-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.shop-location__metro {
    display: flex;
    flex-wrap: wrap;
    gap: 11px 8px;
    color: var(--bs-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.shop-location__metro .item-metro {
    display: flex;
    align-items: center;
    gap: 8px;
}

.item-metro::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='17' viewBox='0 0 24 17' fill='none'%3E%3Cpath d='M22.3419 14.1803L16.7219 0L11.983 8.2907L7.24417 0L1.62416 14.1848H0V16.3164H8.46286V14.1848H7.2102L8.42888 10.6624L11.983 16.484L15.5371 10.6624L16.7558 14.1848H15.5032V16.3164H24V14.1848L22.3419 14.1803Z' fill='%23FF0000'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.shop-location__phone {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.shop-location__link {
    margin-top: 32px;
}

@media (min-width: 992px) {

    .shop-location__body {
        padding: 57px 32px 53px;
    }

    .shop-location__body-top {
        margin-bottom: 160px;
    }
}











/* section-blog-slider ============================ */

.section-blog-slider {
    margin-bottom: 94px;
}

.section-blog-slider .section-title {
    text-align: center;
    margin-bottom: 32px;
}

.blog-slider-tab-nav {
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    display: flex;
    justify-content: start;
    margin-bottom: 32px;
}

.blog-slider-tab-nav .scrollable-wrapper {
    padding-bottom: 12px;
}

.blog-slider-tab-nav .scrollable-item {
    padding: 0 11px;
}

.blog-slider-tab-nav .scrollable-item:first-child {
    padding-left: 12px;
}

.blog-slider-tab-nav .scrollable-item:last-child {
    padding-right: 12px;
}

.blog-slider-tab-nav .nav-link {
    padding: 2px 0px;
    font-family: var(--bs-title-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    border-radius: 0;
    border-bottom: 1px solid transparent;
}

.swiperBlogSlider {}

.swiperBlogSlider .swiper-slide {
    width: 305px;
}

.blog-slide-item {}

.blog-slide-item__img {
    height: 318px;
    overflow: hidden;
}

.blog-slide-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;
}

.blog-slide-item__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0 0;
}

.blog-slide-item__tags {
    --bs-link-color-rgb: 124,125,128;
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.blog-slide-item__title {
    --bs-link-color-rgb: 26,26,22;
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.24px;
}

.blog-slide-item__read-link {
    --bs-link-color-rgb: var(--bs-primary-rgb);
    --bs-link-hover-color-rgb: var(--bs-body-color-rgb);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

@media (min-width: 992px) {

    .section-blog-slider {
        margin-bottom: 82px;
    }

    .blog-slider-tab-nav {
        justify-content: center;
    }

    .swiperBlogSlider .swiper-slide {
        width: 345px;
    }

    .blog-slide-item__img {
        height: 360px;
    }

    .blog-slide-item__img:hover img {
        transform: scale(1.1);
    }
}