/*!
 * Theme: Masterdom
 * Author: AMDmedia - Andrey Galkin
 * Version: 1.0
 */

/* IMPORT FONTS ============================ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Goldenbook';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OTF/Goldenbook.otf') format('opentype');
}

@font-face {
    font-family: 'Goldenbook';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OTF/Goldenbook-Bold.otf') format('opentype');
}

/* @import url('../fonts/icons-minimal/stylesheet.css'); */

/* ROOT ============================ */

:root {
    --bs-primary-rgb: 226,3,56;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 18,14,30;
    --bs-body-bg-rgb: 255,255,255;

    --bs-body-font-family: 'Montserrat', sans-serif;
    --bs-title-font-family: 'Goldenbook', serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: normal;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #e20338;
    --bs-link-hover-color: #120E1E;
}

html {
    scroll-behavior: smooth;
}

/* LINKS ============================ */

a {
    text-decoration: none;
}

/* FORMS ============================ */

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
    box-shadow: none !important;
}

textarea {
    overflow: auto;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-control,
.form-select {
    font-size: 1.125rem;
    color: #495057;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select {
    background-image: url(../img/dropdown.svg);
    background-size: 13px 10px;
}

/* BUTTONS ============================ */

.btn {
    --bs-btn-padding-x: 2.5rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: normal;
    --bs-btn-color: #212121;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-icon {
    --btn-icon-size: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    padding: 0 !important;
}

/* BASE ============================ */

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.z-1 {
    z-index: 1 !important;
}

.z-2 {
    z-index: 2 !important;
}

.z-3 {
    z-index: 3 !important;
}

.z-4 {
    z-index: 4 !important;
}

.z-5 {
    z-index: 5 !important;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #212121;
    --bs-nav-link-hover-color: #000;
    --bs-nav-link-disabled-color: #6c757d;
}

.nav-pills {
    --bs-nav-pills-border-radius: 2.25rem;
    --bs-nav-pills-link-active-color: #212121;
    --bs-nav-pills-link-active-bg: #D9D9D9;
}

.nav-pills .nav-link {
    font-size: 1.25rem;
}

.dropdown-menu {
    --bs-dropdown-border-radius: 0;
}

.scrollable-container {
    position: relative;
    overflow: hidden;
    touch-action: pan-y;
}

.scrollable-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
}

.scrollable-wrapper::-webkit-scrollbar {
    display: none;
}

.scrollable-wrapper .scrollable-item {
    position: relative;
    display: inline-block;
    flex: 0 0 auto;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1600px;
    }
}

/* HEADER ============================ */

.navbar {
    --bs-navbar-padding-y: 1.05rem;
}

.navbar-lg .navbar-nav {
    display: none;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-nav {
    align-items: center;
    gap: 22px;
}

.search-form {
    position: relative;
}

.header-phone {
    text-align: end;
    margin-top: 12px;
}

.header-phone__link {
    color: #02378F;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.header-icons {
    display: flex;
    gap: 22px;
}

.header-navigation__menu-wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
}

.navbar-nav .nav-link {
    padding: 0 !important;
}

@media (min-width: 992px) {

    .navbar-lg .navbar-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
}

@media (min-width: 1200px) {

    .dropdown-fullwidth .dropdown-menu {
        --bs-dropdown-min-width: 1150px;
    }
}

/* section-hero ============================ */

.section-hero {
    margin-bottom: 32px;
}

.swiperHeroSlider {
    --swiper-theme-color: #7C7D80;
    --swiper-pagination-bullet-width: 50px;
    --swiper-pagination-bullet-height: 2px;
    --swiper-pagination-bullet-border-radius: 0;
}

.swiperHeroSlider .swiper-img-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiperHeroSlider-next,
.swiperHeroSlider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiperHeroSlider-next {
    right: 52px;
    left: auto;
}

.swiperHeroSlider-prev {
    left: 52px;
    right: auto;
}

.swiperHeroSlider .swiper-pagination {
    position: static;
    margin-top: 12px;
}

/* section-categories-circles ============================ */

.section-categories-circles {
    margin-bottom: 52px;
}

.section-categories-circles .section-title {
    color: #1A1A16;
    text-align: center;
    font-family: var(--bs-title-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-bottom: 32px;
}

.section-categories-circles .container-swiper {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.swiperCategoriesCircles-next,
.swiperCategoriesCircles-prev {
    position: absolute;
    top: 35%;
    transform: translateY(0);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiperCategoriesCircles-next {
    right: -54px;
    left: auto;
}

.swiperCategoriesCircles-prev {
    left: -54px;
    right: auto;
}

.section-categories-circles .swiper-button-disabled {
    opacity: 0;
}

.categories-circles__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-circles__link-img {
    padding: 6px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #02378F;
}

.categories-circles__link-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.categories-circles__link-title {
    text-align: center;
    color: #474A51;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
    margin-top: 10px;
}

@media (min-width: 992px) {
    .swiperCategoriesCircles-next,
    .swiperCategoriesCircles-prev {
        display: flex;
    }
}

/* section-popular-products ============================ */

.section-popular-products {
    margin-bottom: 82px;
}

.section-popular-products .section-title {
    color: #1A1A16;
    font-family: var(--bs-title-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
}

.section-popular-products .scrollable-container {
    margin-bottom: 34px;
}

.section-popular-products .nav-pills {
    gap: 32px;
}

.section-popular-products .nav-pills .nav-link {
    color: #474A51;
    padding: 2px 0px;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    border-radius: 0;
    border-bottom: 1px solid transparent;
}

.section-popular-products .nav-pills .nav-link.active,
.section-popular-products .nav-pills .show>.nav-link {
    color: #02378F;
    font-weight: 700;
    border-color: inherit;
    background-color: transparent;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 47px 34px;
}

.card-product {
    --bs-card-spacer-y: 12px;
    --bs-card-spacer-x: 60px;
    --bs-card-border-width: 0;
    --bs-card-border-radius: 0;
    --bs-card-inner-border-radius: 0;
}

.card-product .card-top {
    position: relative;
}

.card-product .card-img-wrapper {
    position: relative;
}

.card-product .card-img-wrapper img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.card-product .card-img-wrapper img:nth-child(1) {
    display: block;
}

.card-product .card-img-wrapper img:nth-child(2) {
    display: none;
}

.card-product .card-img-wrapper:after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
}

.card-product .markerContainer {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.card-product .marker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    font-family: var(--bs-title-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    background-color: #fff;
}

.card-product .card-name {
    text-align: center;
}

.card-product .card-name a {
    color: #1A1A16;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.24px;
}

.card-product .card-name a:hover {
    color: #02378F;
}

.card-product .card-price {
    text-align: center;
    color: #02378F;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-top: 12px;
}

.card-product .card-price .discount {
    display: inline-block;
    margin-left: 8px;
    color: #888;
    font-size: 14px;
    font-weight: 400;
}

.card-product .skuProperty {
    margin-top: 12px;
}

.card-product .skuPropertyList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

.card-product .skuProperty li {
    box-sizing: border-box;
    overflow: hidden;
}

.card-product .skuPropertyLink {
    transition: all .2s ease-in-out;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    display: block;
    border: 1px solid #ddd;
}

.card-product .skuProperty .selected .skuPropertyLink {
    border: 1px solid #02378F;
    pointer-events: none;
    position: relative;
}

.product .skuPropertyList img {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

@media (min-width: 992px) {
    .products-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-product .card-img-wrapper:hover img:first-child {
        display: none;
    }
    
    .card-product .card-img-wrapper:hover img:last-child {
        display: block;
    }
}