/* FOOTER ============================ */

.footer {
    padding: 22px 0;
}

@media (min-width: 992px) {
    .footer {
        padding: 42px 0;
    }
}

/* footer-top ============================ */

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    padding: 0 12px;
    margin-bottom: 34px;

    &__logo {

        img {
            max-width: 83px;
            height: auto;
        }
    }

    &__contacts {
        --bs-link-color-rgb: var(--bs-primary-rgb);
        --bs-link-hover-color-rgb: var(--bs-body-color-rgb);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;

        .contacts-link {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            font-family: var(--bs-title-font-family);
            font-size: 24px;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        .link-cooperate {
            display: inline-flex;
            align-items: center;
            gap: 6px;

            svg {
                flex-shrink: 0;
            }
        }
    }
    
    @media (min-width: 992px) {
    
        &__contacts {

            .contacts-link:not(:first-of-type)::before {
                content: "";
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: var(--bs-secondary);
            }
        }
    }
}

/* footer-middle ============================ */

.footer-middle {
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 12px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #ACB2BF;
        border-bottom: 1px solid #ACB2BF;
        padding: 32px 0;
    }
    
    &__col {
        flex-basis: 100%;
        padding: 14px 21px 14px 0;
    }
    
    &__col:nth-child(1),
    &__col:nth-child(2) {
        flex-basis: 50%;
    }
    
    &__widget:not(:last-child) {
        margin-bottom: 22px;
    }
    
    &__menu {
        --bs-link-color-rgb: var(--bs-secondary-rgb);
        --bs-link-hover-color-rgb: var(--bs-primary-rgb);
        list-style: none;
        margin: 0;
        padding: 0;

        > li:not(:last-child) {
            margin-bottom: 20px;
        }
        
        > li > a {
            display: block;
            font-family: var(--bs-title-font-family);
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.22px;
            text-transform: uppercase;
        }

        .submenu {
            --bs-link-color-rgb: var(--bs-secondary-rgb);
            --bs-link-hover-color-rgb: var(--bs-primary-rgb);
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            
            li:not(:last-child) {
                margin-bottom: 6px !important;
            }
            
            a {
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.16px;
            }
        }
    }

    @media (min-width: 992px) {
    
        &__container {
            padding: 16px 0;
        }
    
        &__col {
            flex-basis: 50%;
            padding: 14px 21px;
            border-left: 1px solid #ACB2BF;
        }
    
        &__widget:not(:last-child) {
            margin-bottom: 32px;
        }
    
        &__menu {

            > li > a {
                font-size: 24px;
            }

            .submenu {
                margin-top: 12px;

                a {
                    font-size: 18px;
                }
            }
        }
    }
    
    @media (min-width: 1200px) {
    
        &__col:first-child {
            border-left-color: transparent;
        }
    
        &__col {
            flex-basis: 30%;
        }
        
        &__col:nth-child(1),
        &__col:nth-child(2) {
            flex-basis: 20%;
        }

        &__col:nth-child(3) {
            flex-basis: 25%;
        }
    }
}

/* footer-bottom ============================ */

.footer-bottom {
    max-width: 1504px;
    margin: 22px auto 0;
    padding: 0 12px;

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 22px;
    }
    
    &__menu {
        --bs-link-color-rgb: var(--bs-secondary-rgb);
        --bs-link-hover-color-rgb: var(--bs-primary-rgb);
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 22px 12px;

        .menu-link {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
        }
        
        .menu-link::before {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: var(--bs-secondary);
        }
    }

    &__copyright {
        --bs-link-color-rgb: var(--bs-secondary-rgb);
        --bs-link-hover-color-rgb: var(--bs-primary-rgb);
        color: var(--bs-secondary);
        font-size: 12px;
        font-weight: 400;
        line-height: normal;

        a {
            text-decoration: underline;
        }
    }

    @media (min-width: 992px) {
    
        margin-top: 57px;
    
        &__wrap {
            gap: 42px;
        }
    
        &__menu {

            .menu-link:first-child::before {
                display: none;
            }

            .menu-link {
                font-size: 18px;
            }
        }

        &__copyright {
            font-size: 16px;
        }
    }
}
