/* SWIPER ============================ */

.swiper-custom-next,
.swiper-custom-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.swiper-custom-next:hover,
.swiper-custom-prev:hover {
    background-color: rgba(159, 147, 135, 0.80);
}

.swiper-custom-next.swiper-button-disabled,
.swiper-custom-prev.swiper-button-disabled {
    opacity: 0.45;
    background-color: transparent;
}

.swiper-custom-next {
    right: 69px;
    left: auto;

    svg {
        margin-left: 10px;
    }
}

.swiper-custom-prev {
    left: 69px;
    right: auto;

    svg {
        margin-right: 10px;
    }
}

@media (min-width: 992px) {

    .swiper-custom-next,
    .swiper-custom-prev {
        display: flex;
    }
}

/* swiper-btn-brown ============================ */

.swiper-btn-brown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.swiper-btn-brown:hover {
    background-color: rgba(159, 147, 135, 0.80);
}

.swiper-btn-next {
    right: 69px;
    left: auto;

    svg {
        margin-left: 10px;
    }
}

.swiper-btn-prev {
    left: 69px;
    right: auto;

    svg {
        margin-right: 10px;
    }
}

.swiper-btn-brown.swiper-button-disabled {
    opacity: 0.45;
    background-color: transparent;
}

@media (min-width: 992px) {

    .swiper-btn-brown {
        display: flex;
    }
}

/* swiper-with-scrollbar ============================ */

.swiper-with-scrollbar {
    --swiper-scrollbar-top: 1px;
    --swiper-scrollbar-bottom: auto;
    --swiper-scrollbar-size: 1px;
    --swiper-scrollbar-bg-color: rgba(172, 178, 191, 1);
    --swiper-scrollbar-drag-bg-color: rgba(2, 55, 143, 1);
    --swiper-scrollbar-border-radius: 0;
    padding-top: 41px;

    .swiper-scrollbar-drag {
        outline: 1px solid var(--swiper-scrollbar-drag-bg-color);
    }

    @media (min-width: 992px) {
        padding-top: 0;
    
        .swiper-scrollbar {
            display: none;
        }
    }
}

/* swiperRecommendProduct ============================ */

.swiperRecommendProduct-next,
.swiperRecommendProduct-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.swiperRecommendProduct-next:hover,
.swiperRecommendProduct-prev:hover {
    background-color: rgba(159, 147, 135, 0.80);
}

.swiperRecommendProduct-next.swiper-button-disabled,
.swiperRecommendProduct-prev.swiper-button-disabled {
    opacity: 0.45;
    background-color: transparent;
}

.swiperRecommendProduct-next {
    right: 69px;
    left: auto;

    svg {
        margin-left: 10px;
    }
}

.swiperRecommendProduct-prev {
    left: 69px;
    right: auto;

    svg {
        margin-right: 10px;
    }
}

.swiperRecommendProduct .swiper-slide,
.swiperRecommendProduct02 .swiper-slide {
    width: 320px;
    height: auto;
}

.swiperRecommendProduct .recommend-item,
.swiperRecommendProduct02 .recommend-item {
    height: 100%;
}

@media (min-width: 992px) {

    .swiperRecommendProduct-next,
    .swiperRecommendProduct-prev {
        display: flex;
    }

    .swiperRecommendProduct .swiper-slide,
    .swiperRecommendProduct02 .swiper-slide {
        width: 440px;
    }
}

/* swiperHeroSlider ============================ */

.swiperHeroSlider {
    height: 100%;
}

.swiperHeroSlider-next,
.swiperHeroSlider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    z-index: 10;
}

.swiperHeroSlider-next {
    right: 52px;
    left: auto;
}

.swiperHeroSlider-prev {
    left: 52px;
    right: auto;
}

.swiperHeroSlider-pagination {
    --swiper-pagination-bottom: 12px;
    --swiper-pagination-bullet-width: 50px;
    --swiper-pagination-bullet-height: 2px;
    --swiper-pagination-bullet-border-radius: 0;
}

.swiperHeroSlider .swiper-slide {
    text-align: center;
}

.swiperHeroSlider .hero-slider-item img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {

    .swiperHeroSlider-next,
    .swiperHeroSlider-prev {
        display: flex;
    }
}

/* swiperCategoriesCircles ============================ */

.swiperCategoriesCircles-container {
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
}

.swiperCategoriesCircles-next,
.swiperCategoriesCircles-prev {
    position: absolute;
    top: 35%;
    transform: translateY(0);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiperCategoriesCircles-next {
    right: -54px;
    left: auto;
}

.swiperCategoriesCircles-prev {
    left: -54px;
    right: auto;
}

.swiperCategoriesCircles-next.swiper-button-disabled,
.swiperCategoriesCircles-prev.swiper-button-disabled {
    display: none;
}

.swiperCategoriesCircles .swiper-slide {
    width: 143px;
}

@media (min-width: 992px) {

    .swiperCategoriesCircles-next,
    .swiperCategoriesCircles-prev {
        display: flex;
    }

    .swiperCategoriesCircles .swiper-slide {
        width: 182px;
    }
}

/* swiperShopsLocation ============================ */

.swiperShopsLocation .swiper-slide {
    height: auto;
}

.swiperShopsLocation-navigation {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
}

.swiperShopsLocation-next,
.swiperShopsLocation-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.swiperShopsLocation-next:hover,
.swiperShopsLocation-prev:hover {
    background-color: rgba(159, 147, 135, 0.80);
}

.swiperShopsLocation-next.swiper-button-disabled,
.swiperShopsLocation-prev.swiper-button-disabled {
    opacity: 0.45;
    background-color: transparent;
}

.swiperShopsLocation-next {
    right: 69px;
    left: auto;

    svg {
        margin-left: 10px;
    }
}

.swiperShopsLocation-prev {
    left: 69px;
    right: auto;

    svg {
        margin-right: 10px;
    }
}

@media (min-width: 992px) {

    .swiperShopsLocation-navigation {
        display: block;
    }
}

/* swiperBlogSlider ============================ */

.swiperBlogSlider {
    overflow: visible;
}

.swiperBlogSlider-next,
.swiperBlogSlider-prev {
    position: absolute;
    top: 180px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.swiperBlogSlider-next:hover,
.swiperBlogSlider-prev:hover {
    background-color: rgba(159, 147, 135, 0.80);
}

.swiperBlogSlider-next.swiper-button-disabled,
.swiperBlogSlider-prev.swiper-button-disabled {
    opacity: 0.45;
    background-color: transparent;
}

.swiperBlogSlider-next {
    right: 69px;
    left: auto;

    svg {
        margin-left: 10px;
    }
}

.swiperBlogSlider-prev {
    left: 69px;
    right: auto;

    svg {
        margin-right: 10px;
    }
}

.swiperBlogSlider .swiper-slide {
    width: 305px;
}

@media (min-width: 992px) {

    .swiperBlogSlider-next,
    .swiperBlogSlider-prev {
        display: flex;
    }

    .swiperBlogSlider .swiper-slide {
        width: 345px;
    }
}

/* swiperProductCollection ============================ */

.swiperProductCollection .swiper-slide,
.swiperProductCatalog .swiper-slide {
    width: auto;
    height: auto;
    max-width: 320px;
}

/* swiperFeaturedProducts ============================ */

.swiperFeaturedProducts {

    .swiper-slide {
        height: auto;
    }

    .product-item {
        height: 100%;
    }
}

/* swiperDesignersCircles ============================ */

.swiperDesignersCircles .swiper-slide {
    width: 216px;
}

/* swiperDesignerWork ============================ */

.swiperDesignerWork .swiper-slide {
    width: 300px;
}

.swiperDesignerWork .swiper-slide a:hover::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='77' height='77' viewBox='0 0 77 77' fill='none'%3E%3Ccircle cx='38.5' cy='38.5' r='38.5' fill='%239F9387' fill-opacity='0.8'/%3E%3Cpath d='M38.0001 52C46.2843 52 53 45.2843 53 37.0001C53 28.7157 46.2843 22 38.0001 22C29.7157 22 23 28.7157 23 37.0001C23 45.2843 29.7157 52 38.0001 52Z' stroke='white' stroke-width='1.34235' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M55 54L49 48' stroke='white' stroke-width='1.34235' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M36.8018 43V31H39.1893V43H36.8018ZM32 38.1893V35.8018H44V38.1893H32Z' fill='white'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* swiperCollectionItemHero ============================ */

.swiperCollectionItemHero {
    margin-bottom: 22px;
}

.swiperCollectionItemHero-next.swiper-button-disabled,
.swiperCollectionItemHero-prev.swiper-button-disabled {
    opacity: 0.45;
}

/* swiperAbout ============================ */

.swiperAbout .swiper-img-wrapper {
    height: 300px;
}

.swiperAbout img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 992px) {

    .swiperAbout .swiper-img-wrapper {
        height: 500px;
    }
}

/* swiperProductGalleryHero ============================ */

.swiperProductGalleryHero .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

/* swiperProductGalleryThumbs ============================ */

.swiperProductGalleryThumbs {
    --swiper-navigation-size: 25px;
    --swiper-navigation-color: #ACB2BF;
    margin-top: 22px;
}

.swiperProductGalleryThumbs .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 4px;
    border: 1px solid transparent;
}

.swiperProductGalleryThumbs .swiper-slide-thumb-active {
    border-color: #02378F;
}

.swiperProductGalleryThumbs .swiper-button-prev,
.swiperProductGalleryThumbs .swiper-button-next {
    top: 0;
    width: 40px;
    height: 100%;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
}

.swiperProductGalleryThumbs .swiper-button-prev {
    left: 0;
}

.swiperProductGalleryThumbs .swiper-button-next {
    right: 0;
}

.swiperProductGalleryThumbs .swiper-button-disabled {
    opacity: 0;
}

@media (min-width: 992px) {

    .swiperProductGalleryThumbs {
        --swiper-navigation-size: 32px;
    }
}

/* swiper ============================ */

