<div class="blog-slide-item">
    <div class="blog-slide-item__img">
        <a href="blog-item.html">
            <img src="@@thumbURL" alt="...">
        </a>
    </div>
    <div class="blog-slide-item__body">
        <div class="blog-slide-item__tags">
            <a href="blog.html">@@tagTitle</a>
        </div>
        <div class="blog-slide-item__title">
            <a href="blog-item.html">@@title</a>
        </div>
        <div class="blog-slide-item__read-link">
            <a href="blog-item.html">Читать</a>
        </div>
    </div>
</div>