<div class="card-shop-location">
    <div class="position-relative overflow-hidden">
        <a href="category-shops-item.html">
            <img class="img-fluid w-100" src="img/card-shop-location-01.png" alt="...">
        </a>
        <a href="category-shops-item.html" class="btn btn-card-shop-location">
            Подробнее
            <svg xmlns="http://www.w3.org/2000/svg" width="61" height="8" viewBox="0 0 61 8" fill="none">
                <path
                    d="M60.3536 4.35355C60.5488 4.15829 60.5488 3.84171 60.3536 3.64645L57.1716 0.464466C56.9763 0.269204 56.6597 0.269204 56.4645 0.464466C56.2692 0.659728 56.2692 0.976311 56.4645 1.17157L59.2929 4L56.4645 6.82843C56.2692 7.02369 56.2692 7.34027 56.4645 7.53553C56.6597 7.7308 56.9763 7.7308 57.1716 7.53553L60.3536 4.35355ZM0 4.5H60V3.5H0V4.5Z"
                    fill="white" />
            </svg>
        </a>
    </div>
    <div class="card-body">
        <div class="d-flex gap-12px flex-column align-items-center text-center">
            <div class="card-title">
                <a href="category-shops-item.html">МастерДом на Профсоюзной</a>
            </div>
            <div class="shop-location__tags justify-content-center" style="max-width: 300px;">
                <div class="item-tag">Обои</div>
                <div class="item-tag">Плитка</div>
                <div class="item-tag">Отдел шторы</div>
                <div class="item-tag">Светильники</div>
                <div class="item-tag">Сантехники</div>
            </div>
            <div class="text-primary fw-medium">ежедневно с 10:00 до 21:00</div>
            <div>г. Москва, Нахимовский проспект, д.59а</div>
            <div class="shop-location__metro justify-content-center">
                <div class="item-metro">Профсоюзная, 15 м</div>
                <div class="item-metro">Профсоюзная, 15 м</div>
            </div>
            <div class="shop-location__contacts justify-content-center">
                <a href="tel:88003503243" class="item-phone">8 (800) 350-32-43</a>
                <a href="mailto:info@mail.ru" class="item-email">info@mail.ru</a>
            </div>
        </div>
    </div>
</div>