<div class="card-blog-widget">
    <div class="row">
        <div class="col-6">
            <a href="blog-item.html">
                <img class="img-fluid w-100" src="@@thumbURL" alt="...">
            </a>
        </div>
        <div class="col-6">
            <p class="h5 fw-medium mb-22px">
                <a href="blog-item.html">@@title</a>
            </p>
            <div class="card-blog-widget-meta">
                <span>23.04.2021</span>
                <span>Новости</span>
            </div>
        </div>
    </div>
</div>