<div class="card product-collection-card">
    <div class="card-img-wrapper">
        <a href="category-collections-item.html">
            <img class="img-fluid" src="@@thumbURL" alt="...">
        </a>
    </div>
    <div class="card-body">
        <div class="card-title">
            <a href="category-collections-item.html" class="link-body stretched-link">@@title</a>
        </div>
        <div class="d-flex gap-2 flex-column">
            @@if(context.size){<div>@@size</div>}
            <div>@@subtitle</div>
        </div>
    </div>
</div>