<div class="card-ready-made-solutions">
    <div class="card-top position-relative">
        <a href="category-solutions-item.html">
            <img class="img-fluid w-100" src="img/ready-made-solutions-01.png" alt="...">
        </a>

        <button
            type="button"
            class="btn-interest"
            data-bs-toggle="popover"
            data-bs-placement="right"
            data-bs-html="true"
            data-bs-content="
            <div class='d-flex gap-3 flex-column'>
            <div class='popover-title'>
                <a href='#'>Керамогранит MARMORI Калакатта Белый Полированный</a>
            </div>
            <div class='text-muted-light'>60x120</div>
            <div class='d-flex align-items-center justify-content-between'>
                <div class='text-primary fw-medium'>3 250 ₽ за 1 м2</div>
                <a href='#' class='svg-long-arrow'></a>
            </div>
            </div>"
            style="top: 25%; left: 25%;"
        ></button>

        <button
            type="button"
            class="btn-interest"
            data-bs-toggle="popover"
            data-bs-placement="right"
            data-bs-html="true"
            data-bs-content="
            <div class='d-flex gap-3 flex-column'>
            <div class='popover-title'>
                <a href='#'>Керамогранит MARMORI Калакатта Белый Полированный</a>
            </div>
            <div class='text-muted-light'>60x120</div>
            <div class='d-flex align-items-center justify-content-between'>
                <div class='text-primary fw-medium'>3 250 ₽ за 1 м2</div>
                <a href='#' class='svg-long-arrow'></a>
            </div>
            </div>"
            style="top: 70%; left: 15%;"
        ></button>

        <div class="card-top__info">Информация о проекте и дизайнере</div>
    </div>
    <div class="card-body">
        <p class="card-title">
            <a href="category-solutions-item.html">Дизайн интерьера кухни</a>
        </p>
        <div class="card-short-descr text-secondary mb-12px">Современная кухня в серо-коричневых тонах. Кухня - это то место, где мы проводим большую часть времени, поэтому современная кухня должна быть выполнена в приятных светлых тонах</div>
        <a href="category-solutions-item.html" class="btn border-0 p-0">
            подробнее
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="8" viewBox="0 0 51 8" fill="none">
                <path d="M50.6878 4.35404C50.883 4.15878 50.883 3.8422 50.6878 3.64693L47.5058 0.464954C47.3105 0.269692 46.994 0.269692 46.7987 0.464954C46.6034 0.660217 46.6034 0.976799 46.7987 1.17206L49.6271 4.00049L46.7987 6.82892C46.6034 7.02418 46.6034 7.34076 46.7987 7.53602C46.994 7.73128 47.3105 7.73128 47.5058 7.53602L50.6878 4.35404ZM0.334229 4.50049H50.3342V3.50049H0.334229V4.50049Z" fill="#02378F"/>
            </svg>
        </a>
    </div>
</div>