<div class="card collection-card">
    <div class="card-top">
        <div class="link-body text-uppercase">
            <a href="category-collections-item.html">Italon</a>
        </div>
        <!-- <div>Россия</div> -->
    </div>
    <div class="card-head">
        <a href="category-collections-item.html">
            <img class="img-fluid w-100" src="@@thumbURL" alt="...">
        </a>
    </div>
    <!-- <div class="card-body">
        <div class="text-primary fw-medium">от 3 250 ₽ / 1 м2</div>
    </div> -->
    <!-- <div class="card-bottom">
        <div class="collection-card-options">
            <div class="collection-card-option__item active">
                <a href="#">
                    <img class="img-fluid" src="img/card/collection-card-option-01.png" alt="...">
                </a>
            </div>
            <div class="collection-card-option__item">
                <a href="#">
                    <img class="img-fluid" src="img/card/collection-card-option-02.png" alt="...">
                </a>
            </div>
            <div class="collection-card-option__item">
                <a href="#">
                    <img class="img-fluid" src="img/card/collection-card-option-03.png" alt="...">
                </a>
            </div>
            <div class="collection-card-option__item">
                <a href="#">
                    <img class="img-fluid" src="img/card/collection-card-option-04.png" alt="...">
                </a>
            </div>
            <div class="collection-card-option__item">
                <a href="#">
                    <img class="img-fluid" src="img/card/collection-card-option-02.png" alt="...">
                </a>
            </div>
            <div class="collection-card-option__item">
                <a href="#">
                    <img class="img-fluid" src="img/card/collection-card-option-03.png" alt="...">
                </a>
            </div>
        </div>
    </div> -->
</div>