<div class="card card-blog-item @@if(context.rounded){card-rounded} @@if(context.big){card-big}">
    <div class="card-img-wrapper">
        <a href="blog-item.html">
            <img src="@@thumbURL" alt="...">
        </a>
    </div>
    <div class="card-body">
        <div class="card-title">
            <a href="blog-item.html" class="h4 link-title">@@title</a>
        </div>
        <div class="card-blog-meta">
            <span>23.04.2021</span>
            <span>Новости</span>
        </div>
    </div>
</div>