<div class="card card-ready-made-solutions">
    <div class="card-img-wrapper">
        <a href="category-solutions-item.html">
            <img class="img-fluid w-100" src="@@thumbURL" alt="...">
        </a>
    </div>
    <div class="card-body">
        <p class="card-title"><a href="category-solutions-item.html">Дизайн интерьера кухни</a></p>
        <div class="card-short-descr text-secondary mb-12px">Современная кухня в серо-коричневых тонах. Кухня - это то место, где мы проводим большую часть времени, поэтому современная кухня должна быть выполнена в приятных светлых тонах</div>
        <a href="category-solutions-item.html" class="btn border-0 p-0">подробнее</a>
    </div>
</div>