<section class="section section-email-subscribe">
    <div class="container">
        <div class="email-subscribe-wrapper">
            <div class="row" style="--bs-gutter-y: 42px;">
                <div class="col-lg-4">
                    <div class="h2 ff-title text-uppercase mb-12px">Новостная рассылка</div>
                    <div>Получайте последние новости интернет-магазина Мастер Дом о новых продуктах, эксклюзивных
                        предложениях, образе жизни и модных тенденциях.</div>
                </div>
                <div class="col-lg-6 ms-auto">
                    <form action="#" class="email-subscribe-form">
                        <div class="d-flex flex-wrap gap-32px gap-row-12px mb-32px">
                            <label class="d-flex gap-2 align-items-center">
                                <input type="checkbox" class="form-checkbox">
                                <span>Новости</span>
                            </label>
                            <label class="d-flex gap-2 align-items-center">
                                <input type="checkbox" class="form-checkbox">
                                <span>Мероприятия</span>
                            </label>
                            <label class="d-flex gap-2 align-items-center">
                                <input type="checkbox" class="form-checkbox">
                                <span>Акции</span>
                            </label>
                        </div>
                        <div class="position-relative mb-12px">
                            <input type="email" class="form-control" placeholder="Email">
                            <button type="submit"
                                class="btn btn-hover-primary border-0 p-0 position-absolute top-50 end-0 translate-middle-y me-2"
                                style="width: 24px; height: 24px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 13 22"
                                    fill="none">
                                    <path class="svg-path-hover-primary-fill"
                                        d="M0 22L13 11L-1.91596e-06 1.14085e-06L-1.77926e-06 1.56967L11.1449 11L-1.36701e-07 20.4303L0 22Z"
                                        fill="#ACB2BF" />
                                </svg>
                            </button>
                        </div>
                        <div class="fs-14px">
                            Подписываясь на рассылку вы принимаете условия пользовательского соглашения. Этот сайт
                            защищен reCAPTCHA и применяются<br>
                            <a href="#" class="text-decoration-underline">Политика конфиденциальности</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>