<section class="section section-cta">
    <div class="container">
        <div class="email-subscribe-wrapper">
            <div class="row" style="--bs-gutter-y: 42px;">
                <div class="col-lg-4">
                    <div class="h2 ff-title text-uppercase mb-12px">Оставте заявку на сотрудничество!</div>
                    <div>Программа МД ПАРТНЕР разработана для дизайнеров интерьеров, архитекторов и видеоблогеров.</div>
                </div>
                <div class="col-lg-6 ms-auto">
                    <form action="#" class="email-subscribe-form">
                        <div class="d-flex flex-column gap-22px mb-42px">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Имя Фамилия">
                            </div>
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Телефон">
                            </div>
                            <div class="position-relative">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="position-relative">
                                <label class="d-flex gap-2 align-items-center">
                                    <input type="checkbox" class="form-checkbox">
                                    <span>Принимаю условия <a href="#" class="text-decoration-underline">обработки персональных данных</a>.</span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary w-100">отправить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>