<div class="swiper swiper-with-scrollbar swiperDesignerWork">
    <div class="swiper-scrollbar"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="img/slider/category-designers-item-gallery-01.png" data-fancybox>
                <img class="img-fluid w-100" src="img/slider/category-designers-item-gallery-01.png" alt="...">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="img/slider/category-designers-item-gallery-02.png" data-fancybox>
                <img class="img-fluid w-100" src="img/slider/category-designers-item-gallery-02.png" alt="...">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="img/slider/category-designers-item-gallery-03.png" data-fancybox>
                <img class="img-fluid w-100" src="img/slider/category-designers-item-gallery-03.png" alt="...">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="img/slider/category-designers-item-gallery-01.png" data-fancybox>
                <img class="img-fluid w-100" src="img/slider/category-designers-item-gallery-01.png" alt="...">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="img/slider/category-designers-item-gallery-02.png" data-fancybox>
                <img class="img-fluid w-100" src="img/slider/category-designers-item-gallery-02.png" alt="...">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="img/slider/category-designers-item-gallery-03.png" data-fancybox>
                <img class="img-fluid w-100" src="img/slider/category-designers-item-gallery-03.png" alt="...">
            </a>
        </div>
    </div>
</div>