<div class="swiper swiper-with-scrollbar swiperSolutionItemGallery">
    <div class="swiper-scrollbar"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="img/slider/solution-slider-item-01.png" data-fancybox>
                <img class="img-fluid w-100" src="img/slider/solution-slider-item-01.png" alt="...">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="img/slider/solution-slider-item-02.png" data-fancybox>
                <img class="img-fluid w-100" src="img/slider/solution-slider-item-02.png" alt="...">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="img/slider/solution-slider-item-01.png" data-fancybox>
                <img class="img-fluid w-100" src="img/slider/solution-slider-item-01.png" alt="...">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="img/slider/solution-slider-item-02.png" data-fancybox>
                <img class="img-fluid w-100" src="img/slider/solution-slider-item-02.png" alt="...">
            </a>
        </div>
    </div>
    <div class="swiper-custom-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="36" viewBox="0 0 22 36" fill="none">
            <path
                d="M0.00125885 36L21.5195 18.0001L0.00125563 0.000173497L0.00125586 2.56872L18.4489 18.0001L0.00125862 33.4315L0.00125885 36Z"
                fill="white" />
        </svg>
    </div>
    <div class="swiper-custom-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="36" viewBox="0 0 22 36" fill="none" style="transform: rotate(180deg);">
            <path
                d="M0.00125885 36L21.5195 18.0001L0.00125563 0.000173497L0.00125586 2.56872L18.4489 18.0001L0.00125862 33.4315L0.00125885 36Z"
                fill="white" />
        </svg>
    </div>
</div>