<div class="swiper swiper-with-scrollbar swiperFeaturedProducts">
    <div class="swiper-scrollbar"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            @@include('card-product-item.html', {
                "thumbURL": "img/card/product-thumb-01.jpg",
                "title": "Керамогранит Onix One 60x120 Fancy Grey Polished"
            })
        </div>
        <div class="swiper-slide">
            @@include('card-product-item.html', {
                "thumbURL": "img/card/product-thumb-02.jpg",
                "title": "Керамогранит Onix One 60x120 Fancy Grey Polished"
            })
        </div>
        <div class="swiper-slide">
            @@include('card-product-item.html', {
                "thumbURL": "img/card/product-thumb-03.jpg",
                "title": "Керамогранит Onix One 60x120 Fancy Grey Polished"
            })
        </div>
        <div class="swiper-slide">
            @@include('card-product-item.html', {
                "thumbURL": "img/card/product-thumb-04.jpg",
                "title": "Керамогранит Onix One 60x120 Fancy Grey Polished"
            })
        </div>
        <div class="swiper-slide">
            @@include('card-product-item.html', {
                "thumbURL": "img/card/product-thumb-01.jpg",
                "title": "Керамогранит Onix One 60x120 Fancy Grey Polished"
            })
        </div>
    </div>
    <div class="swiperFeaturedProducts-next swiper-btn-brown swiper-btn-next" style="top: 200px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="36" viewBox="0 0 22 36" fill="none">
            <path d="M-5.72205e-05 35.9998L21.5273 17.9998L-6.04466e-05 -7.06433e-05L-6.02164e-05 2.56847L18.4554 17.9998L-5.74506e-05 33.4312L-5.72205e-05 35.9998Z" fill="white"/>
        </svg>
    </div>
    <div class="swiperFeaturedProducts-prev swiper-btn-brown swiper-btn-prev" style="top: 200px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="36" viewBox="0 0 22 36" fill="none" style="transform: rotate(180deg);">
            <path d="M-5.72205e-05 35.9998L21.5273 17.9998L-6.04466e-05 -7.06433e-05L-6.02164e-05 2.56847L18.4554 17.9998L-5.74506e-05 33.4312L-5.72205e-05 35.9998Z" fill="white"/>
        </svg>
    </div>
</div>