/*!
 * Theme: Masterdom
 * Author: Andrey G
 * Version: 1.0.0
 */

// components
@import 'components/fonts';
@import 'components/variables';
@import 'components/general';
@import 'components/typography';
@import 'components/links';
@import 'components/forms';
@import 'components/buttons';
@import 'components/swiper';
@import 'components/sections';
@import 'components/cards';
@import 'components/modals';
@import 'components/breadcrumbs';
@import 'components/pagination';
@import 'components/header';
@import 'components/footer';
